

.grid {
    width: 560px;
    height: 560px;
    border: solid black;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}

.pac-dot {
    background-color: whiteS;
    border: 5px solid blue;
    box-sizing: border-box;
}
.wall {
    background-color: black;
}
.power-pellet {
    background-color: blue;
    border-radius: 10px;
}
.blinky {
    background-color: red;
    border-radius: 50% 50% 0 0;
  display: inline-block;
  height: 25px;
  margin: 5px;
  position: relative;
  width: 20px;  
}

.blinky::before {
    content: '';
    position: absolute;
    background-repeat: repeat-x;
    bottom: -4px; /* Adjust position to ensure tail looks right */
    left: 0;
    width: 20px;
    height: 10px;
    background-color: red; /* Same color as the ghost */
  
}
.blinky::after {
    content: '';
    position: absolute;
    background-repeat: repeat-x;
    bottom: -9px; /* Adjust to make the tail appear as part of the ghost */
    border-left: 8px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid red; /* Tail color */
    background:
    linear-gradient(-45deg, transparent 75%, red 75%) 0 50%,
    linear-gradient( 45deg, transparent 75%, red 75%) 0 50%;
    background-size:20px 20px, 20px 20px;
    
}


.pinky {
    background-color: pink;

}
.inky {
    background-color: cyan;
}
.clyde {
    background-color: orange;
}

@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');
*, *:after, *:before {
  


    .pac-man {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #F2D648;
        position: relative;
        overflow: hidden;
      }
      
      .pac-man::before {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #333333; /* Eye color */
        top: 3px; /* Adjust as needed */
        right: 10px; /* Adjust as needed */
      }
      
      .pac-man::after {
        content: '';
        position: absolute;
        width: 88%;
        height: 95%;
        background: #000; /* Mouth color */
        clip-path: polygon(100% 74%, 44% 48%, 100% 21%); /* Mouth shape */
        top: 2.5%; /* Adjust to position the mouth */
        left: 6%; /* Adjust to center the mouth */
        animation-name: eat;
        animation-duration: 0.7s;
        animation-iteration-count: infinite;
      }
    }      


.scared-ghost {
    background-color: aquamarine;
}
.ghost-lair {
    background-color: rgb(42, 42, 240);
    border: solid 5px  rgb(42, 42, 240);
}
@keyframes eat {
    0% {
      clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
    }
    25% {
      clip-path: polygon(100% 60%, 44% 48%, 100% 40%);
    }
    50% {
      clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
    }
    75% {
      clip-path: polygon(100% 59%, 44% 48%, 100% 35%);
    }
    100% {
      clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
    }
  }